.field-containers{
    padding: 1rem;
}

.field-containers label{
    vertical-align: top;
    width: 100px;
    display: inline-block;
}

.field-containers textarea{
    width: 400px;
    height: 100px;
}

.bubble{
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: lightblue;
    border-color: cornflowerblue;
    border-radius: 5px;
    width: 250px;
}