.header-image{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.content{
    padding:4rem;
}

@media (min-width: 480px) {
  .header-image {
      height:300px;
  }
}

@media (min-width: 1025px) {
  .header-image {
      height:500px;
  }
}